language: ruby
rvm:
  - 1.9.2
  - 1.9.3
  - ruby-head
  - rbx-19mode
matrix:
  allow_failures:
    - rvm: rbx-19mode
    - rvm: ruby-head
# HACK: Fix problems with native libraries on ruby-head
before_install:
  - gem install rugged -v 0.17.0.b7 -- --with-cflags='--std=gnu99'
  - gem install nokogiri redcarpet -- --with-cflags='--std=gnu99'
